<!DOCTYPE html>
<html>
<head>
<title>Debian Maintainer Dashboard - Lintian</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/debian.css" rel="stylesheet" type="text/css">
<link href="/css/udd.css" rel="stylesheet" type="text/css">
<link title="DMD" type="application/opensearchdescription+xml" rel="search" href="/dmd-opensearch.xml">
</head>
<body>
<div id="header">
  <div id="wikisection">
    <p class="section"><a href="/" title="Ultimate Debian Database">UDD</a></p>
  </div>
  <div id="upperheader">
    <div id="logo">
        <a href="https://www.debian.org" title="Debian Home"><img src="/img/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div>
  </div> <!-- end upperheader -->
  <div id="navbar">
    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
    <ul>
       <li><a href="/">Ultimate Database</a></li>
       <li><a href="/bugs/">Bugs search</a></li>
       <li><a href="/dmd/">Maintainer dashboard</a></li>
       <li><a href="/lintian/">Lintian</a></li>
    </ul>
  </div> <!-- end navbar -->
  <p id="breadcrumbs">&nbsp;Maintainer Dashboard - Lintian</p> 
</div> <!-- end header -->

<div id="content">
    <h1 id='dashboard'>Maintainer dashboard - Lintian</h1>
<form id="searchForm" action="/lintian/#all" method="get">
<table>
<tbody>
  <%= ERB.new(File.read(File.expand_path('templates/dmd-form.erb')), nil, nil, '_erbout01').result(binding) %>
    <tr>
        <th>Format</th>
        <td>
         <label><input type='radio' name='format' value='html' checked> HTML</label>
         <label><input type='radio' name='format' value='json'> JSON</label>
         <label><input type='radio' name='format' value='yaml'> YAML</label>
        </td>
    </tr>
    <tr>
        <th>Filters</th>
        <td>
          <label><input type='checkbox' name='onlydev' <%= params['onlydev'] ? 'checked' : '' %>> Packages actively developed: hide packages not in unstable or experimental</label><br>
          <label><input type='checkbox' name='onlyrecent' <%= params['onlyrecent'] ? 'checked' : '' %>> Packages recently touched: hide packages not uploaded during the last month</label>
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            <input type='submit' value='Search' onsubmit="removeBlankFields(this);" class='btn-lg'/>
        </td>
    </tr>
</tbody>
</table>
</form>

<% if uddd %>

<h2 id='all'><a id='all'></a>All issues</h2>
<table class="buglist tablesorter table table-bordered table-hover">
<thead>
<tr>
    <th>source</th>
    <th>tag type</th>
    <th>tag</th>
    <th>information</th>
</tr>
</thead>
<tbody>
    <% uddd.lintian['all'].each do |t| %>
    <tr>
        <td class="nowrap"><%= t['source'] %></td>
        <td class="nowrap"><%= t['tag_type'] %></td>
        <td class="nowrap"><%= t['tag'] %></td>
        <td class="nowrap"><%= t['information'] %></td>
    </tr>
    <% end %>
</tbody></table>

<small><b>Generated in <%= sprintf "%.2f", Time::now - tstart %> seconds.</b></small><br/>

<% end %><!-- end if uddd -->
<br />
<br />
</div><!-- end content -->
<div id="footer">
<div id="fineprint">
    <p>
    Ultimate Debian Database:
    <a href="https://wiki.debian.org/UltimateDebianDatabase/"> hacking / bug reporting / contact information</a><br />
    Debian is a registered trademark of <a href="http://www.spi-inc.org/">Software in the Public Interest</a>
    </p>
</div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/js/dmd.js"></script>
<script type="text/javascript" src="/js/removeblankfields.js"></script>
<script type="text/javascript" src="/js/quicknav.js"></script>
</body>
</html>
